<div id="allitems">
	<h1>Credit Dashboard</h1><hr/>

	<div class='totalCredits'>
		Total Credits : <%= number_to_currency(@total_credits) %><br/>
		Used Credits : <%= number_to_currency(@used_credits) %><br/>
		Manually Issued : <%= number_to_currency(@manual_credits) %>
	</div>
	<div class='topUp'>
		<table>
			<tr>
				<th>User</th>
				<th>Amount</th>
				<th>Date</th>
				<th>Time</th>
			</tr>
			<% @credits.each do |credit| %>
				<td><%= credit.user.name %></td>
				<td><%= number_to_currency(credit.amount) %></td>
				<td><%= credit.created_at.strftime("%d %B, %Y") %></td>
				<td><%= credit.created_at.strftime("%H : %M") %></td>
			<% end %>
		</table>
	</div>
</div>
