<div>
	<%= f.label "Item Name" %>
	<%= f.text_field :name, :id => "itemname" %>
	<%= inline_errors(item, :name) %>
</div><br>
<div>
	<%= f.label :price %>
	<%= f.text_field :price, :id => "itemprice" %>
	<%= inline_errors(item, :price) %>
</div><br>
<div>
	<%= f.label :vendor %>
	<%= f.text_field :vendor_name, :value => item.vendor.try(:name) %>
	<%= inline_errors(item, :vendor_name) %>
</div><br>
<div>
	<%= f.label "SKU" %>
	<%= f.text_field :sku , :id => "itemsku"%>
	<%= inline_errors(item, :sku) %>
</div><br>
<div>
	<%= f.label :category %>
	<%= f.select :category_id, Category.all.collect{|c| [c.name, c.id]}, :id => "itemcategory" %>
	<%= inline_errors(item, :category) %>
</div><br><br>
<div>
	<%= f.label :image %>
	<%= f.file_field :image %>
	<%= inline_errors(item, :image) %>
</div><br><br>
