<div id="allitems">
	<h1>All Items</h1><hr />
	<%= link_to raw(image_tag('addnewbutton.png')), new_admin_item_path, class: 'addnew' %>
	<table width="100%">
		<tr>
			<th>Item Name</th>
			<th>Image</th>
			<th>Vendor</th>	
			<th>Price</th>
			<th>Category</th>
			<th>Dlt</th>
		</tr>
		<% @items.each do |item| %>
			<tr class="<%= cycle('oddrow', 'evenrow') %>">
				<td class='itemtitle'><%= link_to item.name, edit_admin_item_path(item) %></td>
				<td class='itemimg'><%= image_tag(item.image, :class => 'itemthumbnail') %></td>
				<td class='itemdescription'><%= item.vendor.name %></td>
				<td><%= number_to_currency(item.price) %></td>
				<td><%= item.category_name %></td>
				<td><%= link_to raw(image_tag('dltbutton.png')), [:admin, item], method: :delete, confirm: "Are you sure?" %></td>
			</tr>
		<% end %>
	</table>
</div>












