<div id="allitems">
	<h1>Today's Orders</h1>
	<%= link_to raw(image_tag('sendemailbutton.png')), notify_admin_users_path, class: 'addnew' %>
	<hr />
	<%= form_tag admin_users_path, method: :get do %>
		<%= select_tag "location", options_for_select(location_set), selected: params[:location], class: "sortusersdropdown" %>
		<% end %>
	<table width="100%">
		<tr>
			<th>User</th>
			<th>Order Description</th>
			<th>Amount</th>
			<th>Time</th>
		</tr>
		<% @orders.each do |order| %>
			<tr class="<%= cycle('oddrow', 'evenrow') %>">
				<td><%= order.user.try(:name) %></td>
				<td><%= order.description %></td>
				<td><%= number_to_currency(order.amount) %></td>
				<td><%= order.delivery_time %></td>
			</tr>
		<% end %>
	</table>
</div>
