<div id="allitems">
	<h1>Today's Orders</h1>
	<h3>Showing <b>Redeemed</b> Orders only   <%= link_to "See Unredeemed Orders", current_admin_orders_path %></h3></h3>
	<hr />

		<table width="100%">
		<tr>
			<th>Username</th>
			<th>Order Description</th>
			<th>Redeemed?</th>
		</tr>
		<% @large_array.each do |order| %>
			<tr class="<%= cycle('oddrow', 'evenrow') %>">
			<td><%= order["username"] %></td>
			<td><% order["item_sets"].each do |item_set| %>
					<%= item_set["main_title"] %> +
					<%= item_set["side_title"] %> X
					<%= item_set["quantity"] %> set(s)
					<br>
				<% end %>
			</td>
			<td>YES</td>


			</tr>
		<% end %>
	</table>

</div>
	