<div id="allitems">
	<h1>Today's Orders</h1>
	<h3>Showing <b>Redeemed</b> Orders only   <%= link_to "See Unredeemed Orders", current_admin_orders_path %></h3></h3>
	<h3><%= link_to "Export CSV", current_redeemed_admin_orders_path(format: "csv") %></h3>
	<br>
	<%= form_tag current_redeemed_admin_orders_path, :method => 'get' do %>
		<%= text_field_tag :search, params[:search], placeholder: "Enter Order ID Here" %>
		<%= submit_tag "Search", :name => nil, value: "Search",style: "background-color:#282828;color:#FFF;text-indent:0px !important; font-size:1.0em;" %>
	<% end %>

	<%= link_to "Clear Search", current_redeemed_admin_orders_path %>

	<hr />
	

		<table width="100%">
		<tr>
			<th>Order ID</th>
			<th>Username</th>
			<th>Main</th>
			<th>Side</th>
			<th>Qty.</th>
			<th>Redeemed?</th>
			<th>Click to Revert</th>
		</tr>
		<% @orders.each do |order| %>
			<tr class="<%= cycle('oddrow', 'evenrow') %>">
			<td><%= order.id %></td>
			<td><%= order.user.name %></td>
			<% item_sets_array = [] %>
			<% order.order_items.each do |order_item| %>
				<% itemset_hash = {}
					itemset_hash["main_id"] = order_item.main_id
				   itemset_hash["main_title"] = Item.with_deleted.find(order_item.main_id).name
				   itemset_hash["side_id"] = order_item.side_id
				   itemset_hash["side_title"] = Item.with_deleted.find(order_item.side_id).name
				   itemset_hash["quantity"] = 1
				   add_to_array = true
				   item_sets_array.each do |check_set|
                		if check_set["main_id"] == itemset_hash["main_id"] && check_set["side_id"] == itemset_hash["side_id"]
                  			add_to_array = false
                  			check_set["quantity"] += 1
                  			break
                		end
              		end # end of item_sets_array.each do 
              		item_sets_array << itemset_hash if add_to_array
				%>
			<% end %>
			<% count = item_sets_array.count %>
			<td>
			<% main_index = 0 %>
			<% count.times do %>
				<%= item_sets_array[main_index]["main_title"] %>
				<br><hr/>
				<% main_index += 1 %>
			<% end %>
			</td>

			<td>
			<% side_index = 0 %>
			<% count.times do %>
				<%= item_sets_array[side_index]["side_title"] %>
				<br><hr/>
				<% side_index += 1 %>
			<% end %>
			</td>

			<td>
			<% qty_index = 0 %>
			<% count.times do %>
				<%= item_sets_array[qty_index]["quantity"] %>
				<br><hr/>
				<% qty_index += 1 %>
			<% end %>
			</td>
			<td>YES</td>
			<td><%= link_to "Revert!", revert_admin_orders_path(:order_id => order.id) %></td>

			</tr>
		<% end %>
	</table>
	<% if @empty_order %>
		<br>
		<%= @empty_order %>
	<% end %>

</div>