<div id="allitems">
	<h1>Today's Orders</h1>
	<h3>Showing <b>Redeemed</b> Orders only   <%= link_to "See Unredeemed Orders", current_admin_orders_path %></h3></h3>
	<hr />

		<table width="100%">
		<tr>
			<th>Order ID</th>
			<th>Username</th>
			<th>Order Description</th>
			<th>Redeemed?</th>
			<th>Revert</th>
		</tr>
		<% @orders.each do |order| %>
			<tr class="<%= cycle('oddrow', 'evenrow') %>">
			<td><%= order.id %></td>
			<td><%= order.user.name %></td>
			<% item_sets_array = [] %>
			<td><% order.order_items.each do |order_item| %>
				<% itemset_hash = {}
					itemset_hash["main_id"] = order_item.main_id
				   itemset_hash["main_title"] = Item.find(order_item.main_id).name
				   itemset_hash["side_id"] = order_item.side_id
				   itemset_hash["side_title"] = Item.find(order_item.side_id).name
				   itemset_hash["quantity"] = 1
				   add_to_array = true
				   item_sets_array.each do |check_set|
                		if check_set["main_id"] == itemset_hash["main_id"] && check_set["side_id"] == itemset_hash["side_id"]
                  			add_to_array = false
                  			check_set["quantity"] += 1
                  			break
                		end
              		end # end of item_sets_array.each do 
              		item_sets_array << itemset_hash if add_to_array
				%>
			<% end %>
			<% item_sets_array.each do |a| %>
				<%= a["main_title"] %> +
					<%= a["side_title"] %> X
					<%= a["quantity"] %> 
					<% if a["quantity"] == 1 %>
						set
					<% else %>
						sets
					<% end %>
					<br>
			<% end %>
			</td>
			<td>YES</td>
			<td><%= link_to "Revert Redeem", revert_admin_orders_path(:order_id => order.id) %></td>

			</tr>
		<% end %>
	</table>

</div>