<div id="allitems">
	<h1>Order History</h1><hr />
	<table width="100%">
		<tr>
			<th>User</th>
			<th>Order Description</th>
			<th>Amount</th>
			<th>Date</th>
			<th>Delivery Time</th>
			<th>Redeemed?</th>
		</tr>
		<% @orders.each do |order| %>
			<tr class="<%= cycle('oddrow', 'evenrow') %>">
				<td><%= order.user.try(:name) %></td>

				<td>
				<% order.order_items.each do |i| %>
					<%= i.amount %> x <%= Item.find(i.items_id).name %> <br>

				<% end %>
				</td>

				<td><%= number_to_currency(order.amount) %></td>
				<td><%= order.created_at %></td>
				<td><%= order.delivery_time %></td>
				<td><%= order.redeemed %></td>
			</tr>
		<% end %>
	</table>
</div>
