<div id="allitems">
	<h1>Order History</h1><hr />
	<table width="100%">
		<tr>
			<th>User</th>
			<th>Order Description</th>
			<th>Amount</th>
			<th>Date</th>
			<th>Time</th>
		</tr>
		<% @orders.each do |order| %>
			<tr class="<%= cycle('oddrow', 'evenrow') %>">
				<td><%= order.user.try(:name) %></td>
				<td><%= order.description %></td>
				<td><%= number_to_currency(order.amount) %></td>
				<td><%= order.created_at %></td>
				<td><%= order.delivery_time %></td>
			</tr>
		<% end %>
	</table>
</div>
