<% @large_array.each do |order| %>
			<tr class="<%= cycle('oddrow', 'evenrow') %>">
			<td><%= order["username"] %></td>
			<td><% order["item_sets"].each do |item_set| %>
					<%= item_set["main_title"] %> +
					<%= item_set["side_title"] %> X
					<%= item_set["quantity"] %> set(s)
					<br>
				<% end %>
			</td>
			<td>NO</td>


			</tr>
		<% end %>