<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Feedex Web App</title>
		<meta name="description" content="Responsive Animated Border Menus with CSS Transitions" />
		<meta name="keywords" content="navigation, menu, responsive, border, overlay, css transition" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<%= csrf_meta_tag %>

		<%= stylesheet_link_tag "two/normalize.css" %>
		<%= stylesheet_link_tag "two/demo.css" %>
		<%= stylesheet_link_tag "two/icons.css" %>
		<%= stylesheet_link_tag "two/idangerous.swiper.css" %>
		<%= stylesheet_link_tag "two/style5.css" %>
		<%= stylesheet_link_tag "two/stylemain.css" %>

		<%= javascript_include_tag "jquery", "jquery_ujs" %>
		<%= javascript_include_tag "two/modernizr.custom.js" %>
		<%= javascript_include_tag "two/idangerous.swiper-2.1.min.js" %>


	</head>
	<body>
		<div id="container" class="summarycontainer">




				<div id="maincontent">
				<div id="header"><h1>SUMMARY</h1><div id="cartbutton"><a href="#"><span><%= @cart.line_items.count %>&nbsp;&nbsp;</span>
				<%= image_tag("icon_cart.png") %>


				</a></div></div>

				

		
				<div id="summarybg"></div>
			<div id="summarycontent">

			<ul class="summarylist">
				<% @cart.line_items.each_with_index do |item, index| %>
					<li><%= index + 1 %><ul class="orderitems">
						<li><%= Item.find(item.main_id).name %></li>
						<li><%= Item.find(item.side_id).name %></li>
					</ul>
					<%= link_to item, method: :delete, data: { confirm: 'Are you sure you want to remove this from the cart?' } do %>
						<%= image_tag("icon_dlt.png", class: "summarydlt") %>
					<% end %>
					</li><hr />
				<% end %>





				

        

			</ul>


		</div><!--end of summary content-->



					<div id="footer" class="summaryfooter">


		
			<!--<div id="addtocartbg" class="summaryatcbg"></div>-->
			<div id="addtocartbg"></div>				

			<!--<div id="addtocart" class="summaryatc">-->
			<div id="addtocart">


				<% if @current_user.total_credits > @total_price %>
				<%= button_to 'Checkout', {:controller => "orders", :action => "create", :order => { delivery_time: DateTime.now, item_sets: @item_sets }} %>
					
						<h1>CHECKOUT</h1>

				<% else %>

					<%= link_to 'Top Up', :controller => "wallet", :topup => @total_price - @current_user.total_credits %>

					<h1>Top Up</h1>
				<% end %>

			</div><!--add to cart end-->	

			
			<div id="addprice" class="checkoutprice">
					
					<h1>$<%=@total_price%></h1>

			</div>


		</div><!--end of footer-->




		


	</div><!--end of maincontent-->












			
			<nav id="bt-menu" class="bt-menu">
				<a href="#" class="bt-menu-trigger"><span>Menu</span></a>

				<ul>
					<li>
					
					<%= image_tag("fdxlogo.png", id: "fdxlogo") %>
					</li><br><br>
					<li id="btfirstli"><a href="/menus">
					<%= image_tag("icon_menu.png", class: "menuimg") %>
					<span>&nbsp;&nbsp;&nbsp;TODAY'S MENU</span></a></li>
					<li><a href="/wallet">
					<%= image_tag("icon_money.png", class: "menuimg") %>
					<span>&nbsp;&nbsp;&nbsp;	MY WALLET</span></a></li>
					<li><a href="settings.html">
					<%= image_tag("icon_settings.png", class: "menuimg") %>
					<span>&nbsp;&nbsp;&nbsp;	SETTINGS</span></a></li>
					<li><a href="login.html">
					<%= image_tag("icon_logout.png", class: "menuimg") %>
					<span>&nbsp;&nbsp;&nbsp;	LOGOUT</span></a></li>
				
				</ul>
				<!--<ul>
					<li><a href="http://www.twitter.com/codrops" class="bt-icon icon-twitter">Twitter</a></li>
					<li><a href="https://plus.google.com/101095823814290637419" class="bt-icon icon-gplus">Google+</a></li>
					<li><a href="http://www.facebook.com/pages/Codrops/159107397912" class="bt-icon icon-facebook">Facebook</a></li>
					<li><a href="https://github.com/codrops" class="bt-icon icon-github">icon-github</a></li>
				</ul>-->
			</nav>

			<div id="navshowbg">
			</div>	
			<div id="navshow">

				<ul id="#navshowul">
					<li>
					
					<%= image_tag("fdxlogo.png", id: "fdxlogo2") %>


					</li><br><br><br><br><br>
					<li><a href="/menus">
					<%= image_tag("icon_menu.png", class: "menuimg") %>
					<span>&nbsp;&nbsp;&nbsp;TODAY'S MENU</span></a></li>
					<li><a href="/wallet">
					<%= image_tag("icon_money.png", class: "menuimg") %>
					<span>&nbsp;&nbsp;&nbsp;	MY WALLET</span></a></li>
					<li><a href="settings.html">
					<%= image_tag("icon_settings.png", class: "menuimg") %>
					<span>&nbsp;&nbsp;&nbsp;	SETTINGS</span></a></li>
					<li><%= link_to signout_path, method: "delete" do %>
					<%= image_tag('icon_logout.png', class: "menuimg") %>
					<span>&nbsp;&nbsp;&nbsp;	LOGOUT</span>
					<% end %></li>
				
				</ul>



			</div>	







			









		</div><!-- /container -->
	</body>

	<%= javascript_include_tag "two/classie.js" %>
	<%= javascript_include_tag "two/borderMenu.js" %>



	<script>



  function mediaqueryresponse(mql){
		 if (mql.matches){ // if 900px and bigger
		  
			$('.bt-menu-trigger').hide();
			
		 }
		 else{
		  	
		$('.bt-menu-trigger').show();


		 }
		}

		var mql = window.matchMedia("(min-width: 700px)")
		mediaqueryresponse(mql) // call listener function explicitly at run time
		mql.addListener(mediaqueryresponse) // attach listener function to listen in on state changes
			
  </script>
</html>