<div>
	<%= f.label "User Name" %>
	<%= f.text_field :name %>
	<%= inline_errors(user, :name) %>
</div><br>
<div>
	<%= f.label :email %>
	<%= f.text_field :email %>
	<%= inline_errors(user, :email) %>
</div><br>
<div>
	<%= f.label :colony %>
	<%= f.select :colony_id, Colony.all.collect{|c| [c.name, c.id]} %>
	<%= inline_errors(user, :colony_id) %>
</div><br>
<div>
	<%= f.label :mobile %>
	<%= f.text_field :mobile %>
	<%= inline_errors(user, :mobile) %>
</div><br>
<% if user.new_record? %>
	<div>
		<%= f.label "Password" %>
		<%= f.password_field :password %>
		<%= inline_errors(user, :password) %>
	</div><br>
	<div>
		<%= f.label "Cfm Password" %>
		<%= f.password_field :password_confirmation %>
		<%= inline_errors(user, :password_confirmation) %>
	</div><br>
<% else %>
	<div>
		<%= f.label "Credits YTD" %>
		<%= user.total_credits %>
	</div><br><br>
	<div>
		<h3>Credits Top Up History</h3>
		<table>
			<tr>
				<th>Date</th>
				<th>Amount</th>
			</tr>
			<% user.credits.each do |cr| %>
				<tr>
					<td><%= cr.created_at.strftime("%d %b, %Y") %></td>
					<td><%= number_to_currency(cr.amount) %></td>
				</tr>
				<% end %>
		</table>
	</div><br><br>
<% end %>
