<%= link_to "< Back", admin_users_path %>

<%= form_for [:admin, @user], multipart: true do |f| %>
	<%= render :partial => "form", locals: { user: @user, f: f } %>
	<div>
		<%= f.submit "Update" %>
		<% unless @user.is_admin? %>
		 | <%= link_to 'Delete User', admin_user_path(@user), method: :delete, confirm: "Are you sure?" %>
		 <% end %>
	</div>
<% end %>
