<div id="allitems">
	<h1>All Users</h1><hr />
	<%= link_to raw(image_tag('addnewbutton.png')), new_admin_user_path, class: 'addnew' %>
	<%= form_tag admin_users_path, method: :get, id: 'sort_users' do %>
		<% if params[:sort].present? %>
			<%= select_tag "sort", options_for_select(["Name", "Email"]), selected: params[:sort], class: "sortusersdropdown" %>
		<% else %>
			<%= select_tag "sort", options_for_select(["Name", "Email"]), prompt: "Sort By", class: "sortusersdropdown" %>
		<% end %>
	<% end %>

	<%= paginate @users %>
	<table width="100%">
	
		<tr>
			<th>User Name</th>
			<th>Email</th>
			<th>Colony</th>	
			<th>Credits</th>
			<th>Edit Credits</th>
		</tr>
		<% @users.each do |user| %>
			<tr class="<%= cycle('oddrow', 'evenrow') %>">
				<td><%= link_to user.name, edit_admin_user_path(user) %></td>
				<td><%= user.email %></td>
				<td><%= user.colony.name %></td>
				<td><%= user.total_credits %></td>
				<td><%= link_to raw(image_tag('editcreditbutton.png')), credits_admin_user_path(user) %></td>
			</tr>
		<% end %>
	</table>
	<br><br>
	<%= paginate @users %>
</div>

<script>
	$('select#sort').change(function(){
		$('form#sort_users').submit();
	});
</script>
