<div id="allitems">
	<%= nested_form_for [:admin, @menu] do |f| %>

		<h1>Today's Menu</h1><hr /><br>
		Date: <%= Date.today.strftime("%d %B %Y") #@menu.available_on.strftime("%d %B %Y") %><br/><br>
		Operation: <%= f.select :status, options_for_select([["Open", 1],["Closed", 0]], 

		if @menu.status
			1
		else
			0
		end) 

		%>

		<br/><br/>

		<h1>Items for Sale</h1><hr /><br>
		<h3>Mains</h1><br>

		<%= f.fields_for :main_items_menus, setup_obj(@menu, :main_items_menus) do |im| %>
			Food Item <%= im.select :item_id, @main_items.collect{|i| [i.name, i.id]}, prompt: "Select an Item" %>
			Qty: <%= im.text_field :quantity %>

			<%= im.hidden_field :item_type, value: "Main" %>
			<%= im.link_to_remove "X" , :class=>"dltlineitem" %>
		<% end %>

		<%= f.link_to_add "Add new line item", :main_items_menus, :class=>"addnewlineitem" %>
		<br><br><br>
		<h3>Side</h1><br>

		<%= f.fields_for :side_items_menus, setup_obj(@menu, :side_items_menus) do |im| %>
			Food Item <%= im.select :item_id, @side_items.collect{|i| [i.name, i.id]}, prompt: "Select an Item" %>
			Qty: <%= im.text_field :quantity %>

			<%= im.hidden_field :item_type, value: "Side" %>
			<%= im.link_to_remove "X" , :class=>"dltlineitem"%>
		<% end %>

		<%= f.link_to_add "Add new line item", :side_items_menus, :class=>"addnewlineitem" %>
		<br/>
		<%= f.submit "Update", :class=>"submitteditem" %>

	<% end %>
</div>
