<div id="allitems">
	<%= nested_form_for [:admin, @menu] do |f| %>
		<h1>Today's Menu</h1><hr />
		Date: <%= @menu.available_on.strftime("%d %B %Y") %><br/>
		Operation: <%= f.select :status, Menu::Operation %>
		Operating Hours: <%= f.select :start_time, TimeSelect %> to <%= f.select :end_time, TimeSelect %>
		<br/><br/>
		<h1>Items for Sale</h1><hr />
		<h3>Mains</h1>
		<%= f.fields_for :items_menus, setup_obj(@menu, :items_menus) do |im| %>
			Food Item <%= im.select :item_id, @main_items.collect{|i| [i.name, i.id]} %> Qty: <%= im.text_field :quantity %> Last Order: <%= im.select :availability_time_select, TimeSelect %>
			<%= im.link_to_remove "X" %>
		<% end %>
		<%= f.link_to_add "Add new line item", :items_menus %>
		<h3>Side</h1>
		<%= f.fields_for :items_menus, setup_obj(@menu, :items_menus) do |im| %>
			Food Item <%= im.select :item_id, @side_items.collect{|i| [i.name, i.id]} %> Qty: <%= im.text_field :quantity %> Last Order: <%= im.select :availability_time_select, TimeSelect %>
			<%= im.link_to_remove "X" %>
		<% end %>
		<%= f.link_to_add "Add new line item", :items_menus %>
	<% end %>
</div>
