<!DOCTYPE html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
		<title>Feedex Admin CMS</title>
		<%= stylesheet_link_tag    "admin", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>

	<body>
		<div id="container">
			<div id="mainmenu">
				<div class="feedextopmenubg"></div>
				<ul class="feedextopmenu">
					<li class="<%= active_class(['admin/items', 'admin/menus']) %>"><%= link_to "Content Management", admin_items_path %></li>
					<li class="<%= active_class(['admin/pages']) %>"><%= link_to "Credit Management", admin_dashboard_path %></li>
					<li class="<%= active_class(['admin/orders', 'admin/colonies', 'admin/delivery_locations']) %>"><%= link_to "Order Management", admin_orders_path %></li>
					<li class="<%= active_class(['admin/users']) %>"><%= link_to "User Management", admin_users_path %></li>
					<li><%= link_to 'Sign Out', admin_session_path("a"), method: :delete %></li>
				</ul>
				<div class="feedexsecmenubg"></div>
				<ul class="secmenu contentmanagement items menus">
					<li><%= link_to "Today's Menu", admin_menus_path %></li>
					<li><%= link_to "All Items", admin_items_path %></li>
				</ul>	
				<ul class="secmenu creditmanagement pages">
					<li class="<%= active_class(['admin/pages'], 'index') %>"><%= link_to "Dashboard", admin_dashboard_path %></li>
				</ul>
				<ul class="secmenu ordermanagement orders colonies delivery_locations">
					<li class="<%= active_class(['admin/orders'], 'current') %>"><%= link_to "Today's Orders", current_admin_orders_path %></li>
					<li class="<%= active_class(['admin/orders'], 'index') %>"><%= link_to "Orders History", admin_orders_path %></li>
					<li class="<%= active_class(['admin/colonies']) %>"><%= link_to "Colonies", admin_colonies_path %></li>
					<li class="<%= active_class(['admin/delivery_locations']) %>"><%= link_to "Delivery Locations", admin_delivery_locations_path %></li>
				</ul>
				<ul class="secmenu usermanagement users">
					<li><%= link_to "All Users" %></li>
				</ul>
			</div>
			<% [:notice, :error].each do |msg| %>
				<% if flash[msg].present? %>
					<div class="flash <%= msg.to_s %>">
						<%= flash[msg] %>
					</div>
				<% end %>
			<% end %>
			<%= yield %>
		</div>
	</body>
	<script>
			$('ul.secmenu.<%= active_ul %>').show();
	</script>
</html>
