<!DOCTYPE html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
		<title>Feedex Admin CMS</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>

	<body>
		<div id="container">
			<% [:notice, :error].each do |msg| %>
				<% if flash[msg].present? %>
					<div class="flash <%= msg.to_s %>">
						<%= flash[msg] %>
					</div>
				<% end %>
			<% end %>
			<%= yield %>
		</div>	
	</body>
</html>
